.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 25px;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e4ebf3;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  background-color: #ffffff;
  text-align: center;
  height: 360px;
  max-width: 350px;
}
.heading {
  font-family: 'Roboto';
  color: #0b69ff;
  font-size: 30px;
}
.description {
  font-family: 'Roboto';
  color: #333333;
  font-size: 18px;
}
.generate-button {
  color: #ffffff;
  background-color: #0b69ff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-family: 'Roboto';
  margin-top: 15px;
}
.random-number {
    font-family: 'Roboto';
    color: #0b69ff;
    font-size: 40px;
    font-weight: 700;
}

